body{
    background-size: cover;
    background-position: center;
    text-align: center;
    background-color: darkslategray;
}
a{
    background-color: rgb(255, 243, 221);
    color: darkslategray;
    font-size: 25px;
    border-radius: 25px;
    margin: 40px;
    padding: 13px;
}
h1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
}
#backbtn{
    float: right;
    margin-right: 5px;
}
canvas{
    border-radius: 10px;
    border: dashed white 2px;
    background-color: grey;
}